@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;


  /* ---- COLORS VARS ---- */
  --primary-bg: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
  --primary-color: #213547;
  --main-color: #dc9a00;

  /* ---- COLORS ----- */
  color-scheme: light dark;
  color: var(--primary-color);
  background-image: var(--primary-bg);
  min-height: 100vh;

}

a {
  font-weight: 500;
  color: var(--main-color);
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100vw;
  width: 100vw;
  min-height: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--main-color);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-bg: #242424;
    --primary-color: rgba(255, 255, 255, 0.87);
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}